/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 rgb(255, 255, 255);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
  /* border: 3px solid rgb(0, 0, 0); */
}
